<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- Argumento para multi-robot -->
    <xacro:arg name="namespace" default="robot0"/>
    
    <!-- Convertir el argumento a una propiedad para poder usarla en archivos incluidos -->
    <xacro:property name="namespace" value="$(arg namespace)"/>

    <!-- Núcleo físico del robot (no necesita namespace) -->
    <xacro:include filename="robot_core.xacro"/>

    <!-- Incluir control de Gazebo pasando namespace como propiedad -->
    <xacro:include filename="gazebo_control.xacro"/>

    <!-- Incluir lidar pasando namespace como propiedad -->
    <xacro:include filename="lidar.xacro"/>

</robot>