<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="namespace" default="robot0"/>
  <xacro:property name="namespace" value="$(arg namespace)"/>

  <joint name="laser_joint" type="fixed">
    <parent link="chassis"/>
    <child link="laser_frame"/>
    <origin xyz="0.1 0 0.175" rpy="0 0 0"/>
  </joint>

  <link name="laser_frame">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.04"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05" length="0.04"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="laser_frame">
  <material>Gazebo/Red</material>
    <sensor name="laser_sensor" type="ray">

      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>10.0</update_rate>

      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <min_angle>-3.1416</min_angle>
            <max_angle>3.1416</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.3</min>
          <max>12.0</max>
        </range>
      </ray>

      <plugin name="laser_plugin_${namespace}" filename="libgazebo_ros_ray_sensor.so">
  <ros>
    <namespace>${namespace}</namespace>
    <remapping>~/out:=scan</remapping>
  </ros>
  <output_type>sensor_msgs/LaserScan</output_type>
  <frame_name>laser_frame</frame_name>
</plugin>

    </sensor>
  </gazebo>

</robot>